{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 bg-white p-4 rounded shadow-lg">
            <h2 class="mb-4 text-center fw-bold">Log In</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="d-flex justify-content-between align-items-center mt-3">
                    <button type="submit" class="btn btn-primary">
                        Log In
                    </button>
                    <a href="{% url 'signup' %}" class="text-primary">Don't have an account? Sign up</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}