{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    
    <div class="bg-white shadow rounded">

        <!-- Header Section -->
    <div class="text-center bg-secondary text-white">
        <h1 class="display-4 font-weight-bold">{{ resume.user.first_name }} {{ resume.user.last_name }}</h1>
        <p class="lead text-white">{{ resume.title }}</p>
        <p class="text-white">{{ resume.user.phone_number }} | {{ resume.user.email }}</p>
    </div>
        
        <article class="p-5">
            <section class="mb-3">
                <h2 class="section-title text-uppercase font-weight-bold pb-3 mb-3">Career summary</h2>
                <div class="section-content">
                    <p class="text-muted">{{ resume.summary }}</p>
                </div>
            </section>
    
            <div class="row">
                <div class="col-lg-9">
                    <section class="mb-3">
                        <h2 class="section-title text-uppercase font-weight-bold pb-3 mb-3">Work Experiences</h2>
    
                        <div class="section-content">
                            {% if resume.work_experiences.all %}
                                {% for experience in resume.work_experiences.all %}
                                <article class="mb-3">
                                    <div class="item-header">
                                        <div class="d-flex flex-column flex-md-row">
                                            <h3 class="position-title font-weight-bold mb-1"> {{ experience.job_title }} </h3>
                                            <div class="company-name ms-auto">{{ experience.company }}</div>
                                        </div>
                                    </div>
                                    <div class="period"> {{ experience.start_date|date:"M Y" }} - {% if experience.end_date %}{{ experience.end_date|date:"M Y" }}{% else %}Present{% endif %}</div>
                                    <p class="mt-2">{{ experience.description }}</p>
                                </article>
                                {% endfor %}
                           
                            {% endif %}
                        </div>
                    </section>
    
                    <section class="mb-3">
                        <h2 class="section-title text-uppercase font-weight-bold pb-3 mb-3">Projects</h2>

                        <div class="section-content">
                            {% if resume.projects.all %}
                                {% for project in resume.projects.all %}
                                <article class="mb-3">
                                    <div class="item-header mb-2">
                                            <h3 class="position-title font-weight-bold mb-1"> {{ project.title }} </h3>
                                            <div class="period"> {{ project.start_date|date:"M Y" }} - {% if project.end_date %}{{ project.end_date|date:"M Y" }}{% else %}Present{% endif %}</div>
                                    </div>
                                    <p class="mt-2">{{ project.description }}</p>
                                </article>
                                {% endfor %}
                           
                            {% endif %}
                        </div>
                    </section>
    
                    <section class="mb-3">
                        <h2 class="section-title text-uppercase font-weight-bold pb-3 mb-3">References</h2>
                        <div class="section-content">
                            {% if resume.references.all %}
                                {% for reference in resume.references.all %}
                                <div class="mb-3">
                                    <p class="mb-1"><strong>{{ reference.name }} ({{ reference.relationship }})</strong></p>
                                    <p class="text-muted mb-0">{{ reference.company }} &bull; {{ reference.phone_number }} &bull; {{ reference.email }}</p>
                                </div>
                                {% endfor %}
                            
                            {% endif %}
                        </div>
                    </section>
                </div>
                <div class="col-lg-3">
                    <section class="mb-3">
                        <h2 class="section-title text-uppercase font-weight-bold pb-3 mb-3">Tech Skills</h2>
                        <div class="section-content">
                            {% if technical_skills %}
                            <ul class="list-unstyled mb-2">
                                {% for skill in technical_skills %}
                                    <li class="mb-2">{{ skill.name }}</li>
                                {% endfor %}
                            </ul>
                            
                            {% endif %}
                        </div>
                    </section>
    
                    <section class="mb-3">
                        <h2 class="section-title text-uppercase font-weight-bold pb-3 mb-3">Soft Skills</h2>
                        <div class="section-content">
                            {% if technical_skills %}
                            <ul class="list-unstyled mb-2">
                                {% for skill in soft_skills %}
                                    <li class="mb-2">{{ skill.name }}</li>
                                {% endfor %}
                            </ul>
                            
                            {% endif %}
                        </div>
                    </section>
    
                    <section class="mb-3">
                        <h2 class="section-title text-uppercase font-weight-bold pb-3 mb-3">Educations</h2>
                        <div class="section-content">
                            {% if resume.educations.all %}
                                {% for education in resume.educations.all %}
                                <div class="mb-3">
                                    <div class="deg-name font-weight-bold">{{ education.degree }} in {{ education.field_of_study }}</div>
                                    <div class="deg-school">{{ education.school }} </div>
                                    <div class="period">
                                        {{ education.start_date|date:"Y" }} - 
                                            {% if education.end_date %}
                                                {{ education.end_date|date:"Y" }}{% else %}Present
                                            {% endif %}
                                    </div>
                                </div>
                                {% endfor %}
                            
                            {% endif %}
                        </div>
                    </section>
                    <section class="mb-3">
                        <h2 class="section-title text-uppercase font-weight-bold pb-3 mb-3">Certifications</h2>
                        <div class="section-content">
                            {% if resume.certifications.all %}

                            {% for certification in resume.certifications.all %} 
                            <div class="mb-3">
                                <div class="deg-name">{{ certification.name }}</div>
                                <div class="deg-school">{{ certification.authority }}</div>
                                <div class="period">Earned: {{ certification.date_earned|date:"M Y" }}</div>
                            </div>
                            {% endfor %}


                            {% endif %}
                        </div>
                    </section>
                </div>
            </div>
        </div>
    
        <!-- Back Button -->
        <div class="mt-4 text-center">
            <a href="{% url 'home' %}" class="btn btn-outline-primary">Back to Resumes</a>
        </div>

        </article>



         <!-- User Information Section -->
       {% comment %}  <div class="mb-5">
            <h2 class="fs-3 fw-bold text-primary border-bottom pb-2 mb-4">User Information</h2>
            <p class="mb-2"><strong>Full Name:</strong> {{ resume.user.first_name }} {{ resume.user.last_name }}</p>
            <p class="mb-2"><strong>Phone Number:</strong> {{ resume.user.phone_number }}</p>
        </div> {% endcomment %}


        <!-- Basic Information Section -->
       {% comment %}  <div class="mb-5">
            <h2 class="fs-3 fw-bold text-primary border-bottom pb-2 mb-4">Profile Overview</h2>
            <p class="mb-2"><strong>{{ resume.title }}</strong></p>
            <p class="mb-0">{{ resume.summary }}</p>
        </div> {% endcomment %}

        
</div>
{% endblock %}