{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center fw-bold mb-5 ">Welcome {{ user.first_name }}, here are your resumes</h1>

    {% if resumes %}

            {% for resume in resumes %}

                <article class="bg-white shadow rounded mb-5 p-4">
                    <div class="d-flex flex-column flex-md-row">
                        <h2 class="resume-list-title font-weight-bold">{{ resume.title }}</h2>
                        <div class="ms-auto">{{ resume.updated_at|date:"F j, Y, g:i a" }}</div>
                    </div>
                    <hr class="mt-2 mb-2">
                    
                    <p>
                        {{ resume.summary }}
                    </p>

                    <div class="d-flex flex-column flex-md-row">
                        <div  class="ms-auto">
                            <a href="{% url 'resume_detail' resume.id  %}" class="text-primary text-decoration-underline">View</a>
                            |
                            <a href="{% url 'home' %}" class="text-success text-decoration-underline">Update</a>
                            |
                            <form action="{% url 'home' %}" method="POST" class="d-inline">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-link text-danger text-decoration-underline p-0">Delete</button>
                            </form>
                        </div>
                    </div>
                </article>        
            {% endfor %}

    {% else %}
        <article class="bg-white shadow rounded mb-5 p-3">
            No resumes found. Please create one!
        </article>
    {% endif %}

    <div class="d-flex justify-content-between mt-4">
        <a href="{% url 'home' %}" class="btn btn-primary">Create New Resume</a>
        <a href="{% url 'home' %}" class="btn btn-secondary">Back to Home</a>
    </div>
</div>
{% endblock %}